/* Created by: Ms Raffin
* Created on: Mar 2022
* This CSS file defines the style for index.html
* ICS2O-Unit2-01-HTML-JS-HelloWorld
*/

body {
	background-color: rgb(151, 231, 242);
}

h1 {
	background-color: rgb(229, 148, 173);
	color: hsl(0, 0%, 0%);
	padding: 40px;
	text-align: center;
}

p {
	background-color: #b7f486;
}

div {
	
  font-weight: bold;
  color: #050505;
  margin: 5px;
}

#display-results{
  background-color: #898880;
	font-size: 20px;
}
